@font-face {
  font-family: Bebas Neue;
  src: url("../fonts/DINPro-BoldItalic.eot");
  src: local("Bebas Neue"), url("../fonts/bebasneueregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #000000;
}

.t-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 9px 0;
  background: #ffffff;
  &__info {
    display: inline-block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;

    color: #332c6d;

    opacity: 0.9;
  }
}

.t-header {
  display: block;
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #ffffff;
  background: linear-gradient(180deg, #c42123 0%, #332c6d 85.94%);
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__toggle {
    display: none;
  }
  &__logo {
    display: inline-flex;
    img,
    svg {
      display: inline-block;
      max-width: 145px;
      max-height: 45px;
    }
    &-text {
      display: inline-block;
      max-width: 100px;
      margin: 0 0 0 10px;
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;

      color: #ffffff;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
        padding: 8px 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
    &_active {
      a {
        position: relative;
        color: #ffffff !important;
        &:after {
          display: block;
          position: absolute;
          content: "";
          top: 100%;
          left: 12px;
          width: 46px;
          height: 4px;
          margin-top: 5px;
          border-radius: 999rem;
          background: #ffffff;
        }
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }
  &__phone {
    display: block;
    margin: 10px 0 8px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: underline;
      color: #ffffff;
    }
  }
  &__email {
    display: inline-block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: underline;
      color: #ffffff;
    }
  }
  &__link {
    display: inline-block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.t-home {
  display: block;
  padding: 100px 0 70px 0;
  background: url("../images/home_bg.png") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 55px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;

    color: #ffffff;
    text-align: center;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 370px;
    padding: 45px 20px 5px 20px;
    background: rgba(51, 44, 109, 0.7);
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 230px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      filter: brightness(0) invert(1);
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 28px 0 0 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 29px;

      color: #ffffff;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #ffffff;
      box-shadow: 0px 4px 20px 2px rgba(204, 199, 229, 0.5);
      transform: scale(1.05);
      text-decoration: none;
      .t-home-card__image {
        filter: none;
      }
      .t-home-card__title {
        color: #332c6d;
      }
    }
  }
}

.t-home-features {
  display: block;
  padding: 100px 0 20px 0;
  background: #f5f5f8;
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 170px;
    margin: 0 auto 80px auto;
    padding-left: 160px;
    padding-bottom: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    &__title {
      display: block;
      margin: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      b,
      strong {
        font-weight: bold;
      }
    }
    &__number {
      display: block;
      position: absolute;
      left: 155px;
      top: -15px;
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 180px;
      line-height: 216px;
      text-transform: uppercase;

      color: rgba(51, 44, 109, 0.09);
      z-index: 0;
    }
  }
}

.t-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid #332c6d;
  background: #f5f5f8;
  &__logo {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    img,
    svg {
      display: inline-block;
      max-width: 145px;
      max-height: 45px;
    }
    &-text {
      display: inline-block;
      max-width: 200px;
      margin: 17px 0 0 0;
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #332c6d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #332c6d;
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        padding: 0 0 18px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          text-decoration: none;
          color: #000000;
        }
      }
    }
    &_right {
      text-align: right;
    }
  }
  &__subnav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        padding: 0 0 8px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.5);
        opacity: 0.6;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  &__phone {
    display: block;
    margin: 24px 0 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
  &__email {
    display: inline-block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
  &__policy {
    display: inline-block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #332c6d;
    opacity: 0.6;
  }
  &__info {
    display: block;
    margin: 25px 0 28px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #332c6d;

    opacity: 0.6;
  }
}

.t-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.75);
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 40px 0;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(204, 199, 230, 0.4);
    border-radius: 20px;
    text-align: center;
    &_contacts {
      max-width: 100%;
      margin: 0;
      padding: 40px 30px;
      z-index: 3;
      .t-modal__button {
        width: auto;
        div {
          padding: 15px 64px;
        }
      }
      textarea {
        min-height: 106px;
      }
    }
    input {
      display: block;
      width: 100%;
      margin: 0 0 12px 0;
      padding: 10px 30px;
      border: 0;
      border-radius: 999rem;
      outline: none;
      background: rgba(245, 245, 248, 0.85);
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: rgba(0, 0, 0, 0.8);
      transition: all 0.2s ease-out;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 25px 0;
      padding: 10px 30px;
      border: 0;
      border-radius: 20px;
      outline: none;
      background: rgba(245, 245, 248, 0.85);
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: rgba(0, 0, 0, 0.8);
      transition: all 0.2s ease-out;
    }
  }
  &__title {
    display: block;
    margin: 0 0 3px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;

    color: #000000;
  }
  &__text {
    display: block;
    margin: 0 0 25px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(0, 0, 0, 0.7);
  }
  &__info {
    display: block;
    margin: 17px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: rgba(0, 0, 0, 0.4);
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    padding: 2px;
    border: 0;
    border-radius: 999rem;
    outline: none;
    background-image: linear-gradient(180deg, #c42123 0%, #332c6d 100%);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #332c6d;
    text-align: center;
    & > div {
      display: block;
      position: relative;
      width: 100%;
      padding: 15px;
      border-radius: 999rem;
      background: #ffffff;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      & > div {
        background: transparent;
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-main {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.t-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 15px 0 50px 0;
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: rgba(51, 44, 109, 0.5);
  opacity: 0.9;
  z-index: 3;
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: rgba(51, 44, 109, 0.5);
    opacity: 0.9;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
  img,
  svg {
    display: block;
    max-width: 8px;
    max-height: 8px;
    margin: 0 10px;
  }
}

.t-about {
  &__title {
    display: block;
    margin: 0 0 40px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;

    color: #000000;
    text-align: center;
  }
  &__subtitle {
    display: block;
    margin: 0 0 1px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;

    color: #332c6d;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #332c6d;
    text-align: center;
  }
  &__content {
    display: block;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
    p {
      display: block;
      margin: 0 0 30px 0;
    }
  }
  &__swiper {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 90px;
    .swiper-slide {
      height: 550px;
      background-position: center center;
      background-size: cover;
    }
    .swiper-pagination {
      width: 100%;
      bottom: -50px;
    }
    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      margin: 0 10px;
      background: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 13px;
      height: 13px;
      margin-bottom: -1px;
      background: #c42123;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 50px;
      height: 50px;
      padding: 2px;
      border: 0;
      border-radius: 999rem;
      outline: none;
      background-image: linear-gradient(180deg, #c42123 0%, #332c6d 100%);
      text-align: center;
      &:before,
      &:after {
        display: none;
      }
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 999rem;
        background: #ffffff;
        transition: all 0.2s ease-out;
      }
      img,
      svg {
        display: block;
        max-width: 16px;
        max-height: 16px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        & > div {
          background: transparent;
        }
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: auto;
      top: auto;
      right: 80px;
      bottom: -90px;
    }
    .swiper-button-next {
      left: auto;
      top: auto;
      right: 0;
      bottom: -90px;
    }
  }
}

.t-news {
  display: block;
  position: relative;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 10px 20px 90px 20px;
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 2px;
    border: 0;
    border-radius: 999rem;
    outline: none;
    background-image: linear-gradient(180deg, #c42123 0%, #332c6d 100%);
    text-align: center;
    &:before,
    &:after {
      display: none;
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 999rem;
      background: #ffffff;
      transition: all 0.2s ease-out;
    }
    img,
    svg {
      display: block;
      max-width: 16px;
      max-height: 16px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      & > div {
        background: transparent;
      }
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    top: auto;
    right: 100px;
    bottom: 5px;
  }
  .swiper-button-next {
    left: auto;
    top: auto;
    right: 20px;
    bottom: 5px;
  }
  .swiper-pagination {
    padding-left: 20px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    text-transform: uppercase;
    color: #c4c4c4;
  }
  .swiper-pagination-current {
    font-size: 32px;
    line-height: 45px;
    color: #c42123;
  }
  &-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 6px;
      height: 100px;
      margin-top: -50px;
      border-radius: 999rem;
      background: linear-gradient(180deg, #c42123 0%, #332c6d 85.94%);
      transition: all 0.2s ease-out;
    }
    &__date {
      display: inline-block;
      flex: 0 0 65px;
      margin-left: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #000000;

      opacity: 0.5;
    }
    &__content {
      display: inline-block;
      flex: 1 1 auto;
      padding: 10px 20px;
    }
    &__image {
      display: inline-block;
      flex: 0 0 270px;
      height: 150px;
      border-radius: 0 20px 20px 0;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      height: 26px;
      overflow: hidden;
      margin: 0 0 10px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
    }
    &__text {
      display: block;
      height: 54px;
      overflow: hidden;
      margin: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: rgba(0, 0, 0, 0.7);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before {
        opacity: 0;
      }
      .t-news-card__image {
        border-radius: 20px;
      }
      background: #ffffff;
      box-shadow: 0px 8px 20px 2px #ccc7e6;
      border-radius: 20px;
      text-decoration: none;
    }
  }
}

.t-article {
  display: block;
  &__title {
    display: block;
    margin: 0 0 28px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 45px auto;
    border-radius: 20px;
  }
  &__subtitle {
    display: block;
    margin: 0 0 17px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
  }
  a {
    color: #c42123;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #c42123;
    }
  }
}

.t-another {
  display: block;
  position: relative;
  padding-top: 70px;
  &__title {
    display: block;
    margin: 0 0 26px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;

    color: #000000;
  }
  &__cards {
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 30px 30px 50px 30px;
    .swiper-wrapper {
      min-height: 300px;
    }
    .swiper-pagination {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      bottom: 0;
    }
    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      margin: 0 10px !important;
      background: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 13px;
      height: 13px;
      margin-bottom: -1px;
      background: #c42123;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 95px;
      width: 50px;
      height: 50px;
      padding: 2px;
      border: 0;
      border-radius: 999rem;
      outline: none;
      background-image: linear-gradient(180deg, #c42123 0%, #332c6d 100%);
      text-align: center;
      &:before,
      &:after {
        display: none;
      }
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 999rem;
        background: #ffffff;
        transition: all 0.2s ease-out;
      }
      img,
      svg {
        display: block;
        max-width: 16px;
        max-height: 16px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        & > div {
          background: transparent;
        }
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    &__image {
      display: block;
      width: 100%;
      height: 130px;
      border-radius: 20px;
      background-position: center center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }
    &__content {
      position: relative;
      width: 100%;
      padding: 16px 12px;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      max-height: 40px;
      overflow: hidden;
      margin: 0 0 10px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;

      color: #000000;
    }
    &__text {
      display: block;
      max-height: 63px;
      overflow: hidden;
      margin: 0 0 14px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.7);
    }
    &__link {
      display: flex;
      align-items: center;
      position: relative;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #c42123;
      img,
      svg {
        display: block;
        max-width: 15px;
        max-height: 15px;
        margin-left: 5px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before {
        opacity: 0;
      }
      .t-another-card__image {
        border-radius: 20px 20px 0 0;
      }
      background: #ffffff;
      box-shadow: 0px 8px 20px 2px #ccc7e6;
      border-radius: 20px;
      transform: scale(1.05);
      text-decoration: none;
    }
  }
}

.t-long {
  position: relative;
  width: 100%;
  text-align: center;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
  }
  a {
    color: #c42123;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #c42123;
    }
  }
  &__cards {
    position: relative;
    width: 100%;
    max-width: 840px;
    margin: 70px auto 0 auto;
    padding-bottom: 50px;
    overflow: visible !important;
    .swiper-pagination {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      bottom: 0;
    }
    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      margin: 0 10px !important;
      background: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 13px;
      height: 13px;
      margin-bottom: -1px;
      background: #c42123;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      padding: 2px;
      border: 0;
      border-radius: 999rem;
      outline: none;
      background-image: linear-gradient(180deg, #c42123 0%, #332c6d 100%);
      text-align: center;
      &:before,
      &:after {
        display: none;
      }
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 999rem;
        background: #ffffff;
        transition: all 0.2s ease-out;
      }
      img,
      svg {
        display: block;
        max-width: 16px;
        max-height: 16px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        & > div {
          background: transparent;
        }
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        text-decoration: none;
      }
    }
    .swiper-button-prev {
      left: -70px;
    }
    .swiper-button-next {
      right: -70px;
    }
    .swiper-wrapper {
      display: flex;
      align-items: center;
    }
    .swiper-slide-active {
      .t-long-card {
        transform: none;
        opacity: 1;
        &__title {
          display: block;
        }
      }
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 830px;
    text-align: center;
    opacity: 0.5;
    transform: scale(0.7);
    &__title {
      display: none;
      margin: 0 0 20px 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;

      color: #000000;
      transition: all 0.2s ease-out;
    }
    &__image {
      display: block;
      width: 100%;
      height: 400px;
      border-radius: 20px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
    }
  }
}

.t-tabs {
  display: block;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 7px 7px 7px;
      padding: 12px 25px;
      border-radius: 999rem;
      background: #ffffff;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      &.current {
        background: #c42123;
        color: #ffffff;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    &.current {
      display: block;
    }
  }
}

.t-papers {
  display: block;
  position: relative;
  padding: 100px 0 50px 0;
  background: #f5f5f8;
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 50px auto;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0px 8px 20px 2px #ccc7e5;
      background-position: center center;
      background-size: cover;
    }
    &__zoom {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 240px;
      border-radius: 20px;
      opacity: 0;
      background: rgba(51, 44, 109, 0.6);
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 60px;
        max-height: 60px;
      }
    }
    &__title {
      display: block;
      margin: 15px 0 0 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #000000;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .t-papers-card__zoom {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.t-partners {
  display: block;
  padding: 100px 0 90px 0;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;

    color: #000000;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    img,
    svg {
      display: block;
      max-width: 300px;
      max-height: 150px;
      margin: 0 auto 10px auto;
    }
  }
}

.t-goods {
  display: block;
  &__title {
    display: block;
    margin: 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 270px;
    margin: 40px 0 20px 0;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 170px;
    min-height: 178px;
    margin: 0 15px 30px 15px;
    padding: 30px 10px;
    background: #ffffff;
    border: 2px solid rgba(51, 44, 109, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 145px;
      max-height: 115px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
      transition: all 0.2s ease-out;
    }
    &__title {
      display: none;
      margin: 16px 0 0 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 153.2%;
      text-align: center;

      color: #000000;
      transition: all 0.2s ease-out;
      b,
      strong {
        font-weight: bold;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &_active {
      padding: 20px 10px;
      background: #ffffff;
      border: none;
      box-shadow: 0px 4px 20px 2px rgba(204, 199, 229, 0.5);
      transform: scale(1.1);
      text-decoration: none;
      .t-goods-card__title {
        display: block;
      }
    }
    &:hover {
      padding: 20px 10px;
      background: #ffffff;
      border: none;
      box-shadow: 0px 4px 20px 2px rgba(204, 199, 229, 0.5);
      transform: scale(1.1);
      text-decoration: none;
      .t-goods-card__title {
        display: block;
      }
    }
  }
}

.table-goods {
  overflow: hidden;
  table-layout: auto;
  td:not(:first-child):hover::before {
    box-shadow: -20px 8px 20px 2px rgba(51, 44, 109, 0.5);
    border-radius: 0;
    background: #ffffff;
    content: "";
    height: 100%;
    right: 100%;
    position: absolute;
    top: 0;
    width: 10000px;
    pointer-events: none;
    z-index: 1;
  }
  td:not(:first-child):hover::after {
    box-shadow: 0px 8px 30px 10px rgba(51, 44, 109, 0.5);
    border-radius: 0 0 10px 0;
    background: #ffffff;
    content: "";
    height: 10000px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    z-index: 0;
  }
  /* tr:not(:first-child):hover {
    td,
    th {
      font-weight: 700 !important;
    }
  } */
  td,
  th {
    position: relative;
    min-height: 64px;
    padding: 15px 30px;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    vertical-align: middle;
    & * {
      position: relative;
      z-index: 3;
    }
  }
  thead th {
    padding: 25px 30px;
    border: 0;
    vertical-align: middle;
    background: #a19ebc;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    z-index: 3;
    &:first-child {
      border-radius: 20px 0 0 0;
    }
    &:last-child {
      border-radius: 0 20px 0 0;
    }
  }
  tbody tr:nth-of-type(even) {
    background: rgba(68, 62, 121, 0.5);
  }
  tbody tr:last-child {
    td {
      &:first-child {
        border-radius: 0 0 0 20px;
      }
      &:last-child {
        border-radius: 0 0 20px 0;
      }
    }
  }
}

.table-prices {
  border-radius: 20px;
  td,
  th {
    padding: 22px 25px;
    border: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    b,
    strong {
      font-weight: 700;
    }
  }
  thead th {
    padding: 18px 25px;
    vertical-align: middle;
    background: rgba(68, 62, 121, 0.5);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    &:first-child {
      border-radius: 20px 0 0 0;
    }
    &:last-child {
      border-radius: 0 20px 0 0;
    }
  }
  tbody tr:nth-of-type(even) {
    background: rgba(68, 62, 121, 0.5);
  }
  tbody tr:last-child {
    td {
      &:first-child {
        border-radius: 0 0 0 20px;
      }
      &:last-child {
        border-radius: 0 0 20px 0;
      }
    }
  }
  &_bordered {
    thead th {
      border-left: 1px solid #332c6d;
      &:first-child {
        border: 0;
      }
    }
    tbody {
      td:nth-child(2n + 1),
      th:nth-child(2n + 1) {
        border-left: 1px solid #332c6d;
      }
      td:first-child,
      th:first-child {
        border: 0;
      }
    }
  }
}

.t-prices {
  display: block;
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;

    color: #000000;
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 2px;
    border: 0;
    border-radius: 999rem;
    outline: none;
    background-image: linear-gradient(180deg, #c42123 0%, #332c6d 100%);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #332c6d;
    text-align: center;
    & > div {
      display: block;
      position: relative;
      width: 100%;
      padding: 15px 42px;
      border-radius: 999rem;
      background: #ffffff;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      & > div {
        background: transparent;
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.t-contacts {
  display: block;
  position: relative;
  width: 100%;
  max-width: 380px;
  margin: 0 auto 20px auto;
  padding: 10px 35px 35px 35px;
  background: #f5f5f8;
  box-shadow: 0px 8px 20px rgba(204, 199, 230, 0.4);
  border-radius: 20px;
  z-index: 3;
  &__title {
    display: block;
    margin: 30px 0 5px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  &__phone {
    display: block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
  &__email {
    display: inline;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;

    color: #332c6d;
  }
  &__subinfo {
    display: inline-block;
    margin-left: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
  }
  &__link {
    display: block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;

    color: #c42123;
  }
  &__info {
    display: block;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      margin: 7px 7px 0 0;
      border-radius: 999rem;
      border: 1px solid #332c6d;
      img,
      svg {
        display: block;
        max-width: 20px;
        max-height: 20px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        background: #332c6d;
        text-decoration: none;
      }
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .t-header__toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    filter: brightness(0) invert(1);
    z-index: 2;
  }
  .t-top {
    display: none;
    justify-content: center;
  }
  .t-top__info {
    display: block;
    width: 100%;
    text-align: center;
  }
  .t-top__info_right {
    text-align: center;
  }
  .t-header__nav {
    display: none;
    width: 100%;
    padding: 20px 0;
    & > li {
      width: 100%;
      & > a {
        width: 100%;
        text-align: center;
      }
    }
  }
  .t-header__right {
    display: none;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .t-home {
    padding: 30px 0;
  }
  .t-home__title {
    margin-bottom: 30px;
  }
  .t-home-card {
    margin: 0 auto 30px auto;
  }
  .t-home-features {
    padding: 30px 0;
  }
  .t-home-features-card {
    margin-bottom: 30px;
  }
  .t-footer__nav_right {
    text-align: left;
  }
  .t-footer__right {
    justify-content: flex-start;
  }
  .t-breadcrumps {
    padding: 30px 0;
  }
  .t-about__title {
    margin-bottom: 20px;
  }
  .t-about__swiper .swiper-slide {
    height: 350px;
  }
  .t-about__swiper .swiper-pagination {
    bottom: -35px;
  }
  .t-main {
    padding-bottom: 30px;
  }
  .t-modal__content {
    padding: 20px 30px;
  }
  .t-news-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .t-news-card:before {
    height: 100%;
    top: 0;
    margin: 0;
  }
  .t-news-card__date {
    flex: 0 0 auto;
    margin-top: 20px;
  }
  .t-news-card__image {
    flex: 0 0 auto;
    width: 100%;
  }
  .t-another {
    padding-top: 30px;
  }
  .t-another__title {
    margin: 0;
  }
  .t-another__cards {
    width: 100%;
    margin: 0;
    padding: 40px 0;
  }
  .t-long-card__image {
    height: 350px;
  }
  .t-papers {
    padding: 30px 0;
  }
  .t-papers-card {
    display: block;
    margin-bottom: 30px;
  }
  .t-partners {
    padding: 30px 0;
    &__title {
      margin-bottom: 30px;
    }
    &__cards {
      img,
      svg {
        margin-bottom: 20px;
      }
    }
  }
  #map {
    position: relative;
    height: 350px;
    margin: 30px 0 0 0;
  }
  .t-home-card {
    display: flex;
  }
  .t-another-card {
    margin: 0 auto;
  }
  .t-header__nav_active a:after {
    display: none;
  }
}
